* {
  box-sizing: content-box;
}
header {
  background-color: rgb(14, 41, 66);
  padding: 15px;
  color: white;
  margin-top: auto;
  border-radius: 6px;
}
form {
  float: right;
  clear: both;
  font-size: 17px;
}

label {
  float: right;
  padding-right: 8px;
}

select {
  padding: 10px;
  font-size: 12px;
  height: 15px;
}

h1 {
  font: outline;
  font-size: 60px;
  padding-left: 450px;
}
#search-bar {
  text-align: left;
  font-size: medium;
  border: 1px solid;
  padding: 10px;
}

#select-episode {
  width: 220px;
}

#episode-container {
  color: black;

  border-radius: 6px;
}
#root {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(189, 216, 216);
}

.card {
  display: inline-flex;
  flex-basis: auto;
  flex-flow: column;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px #f0e68c solid;
  border-radius: 8px;
  width: 18rem;
  min-height: 100vh;
  height: max-content;

  background-color: rgb(196, 235, 231);
  flex: 0 1 calc(25% - 1em);
  margin: 1rem 1rem 1rem 4rem;
}
.card-block {
  padding: 10px;
  background-color: #fff;
  flex: 1;
}

.img {
  display: inline-block;
  width: 100%;
}

.episode-info {
  text-align: left;
  font-size: medium;
  border: 1px solid;
  padding: 10px;
}

p {
  color: rgb(54, 54, 50);
  padding: 1px;
  text-align: left;
}

/* Style the footer */
footer {
  background-color: rgb(14, 41, 66);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.link {
  color: #f7f0f0;
}
.link:hover {
  color: aquamarine;
}

@media (min-width: 320px) and (max-width: 900px) {
  .main-wrapper {
    flex-direction: column;
  }
  .card {
    width: 110vw;
  }
}
